body{
    background:#f8fafc;
    font-family:Arial,Helvetica,sans-serif;
}

.post-card{

    border-radius:18px;

    transition:.3s;

    overflow:hidden;

}

.post-card:hover{

    transform:translateY(-8px);

    box-shadow:0 18px 35px rgba(0,0,0,.15);

}

.post-image{

    height:220px;

    object-fit:cover;

}

.card-title{

    color:#1e293b;

}

footer{

    margin-top:80px;

}
.hero-section{

    padding-top:80px;
    padding-bottom:80px;

}

.hero-image{

    border-radius:25px;

    box-shadow:0 20px 40px rgba(0,0,0,.15);

    transition:.4s;

}

.hero-image:hover{

    transform:scale(1.03);

}
.stats-card{

    background:white;

    padding:30px;

    border-radius:18px;

    transition:.3s;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.stats-card:hover{

    transform:translateY(-8px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);
};
.badge{
    font-size:.8rem;
    border-radius:20px;
}
.card-footer hr{
    margin:12px 0;
}
.card-footer span{
    font-size:.9rem;
}
.post-card{
    cursor:pointer;
}
.post-content{
    font-size:1.1rem;
    line-height:1.9;
    color:#444;
    white-space:pre-line;
}
.card-img-top{
    border-top-left-radius:12px;
    border-top-right-radius:12px;
}
.card{
    border-radius:12px;
}