{% extends "base.html" %}

{% block content %}

<div class="container">

    <form id="createPostForm">

        <div class="mb-4">

            <input
                id="title"
                class="form-control form-control-lg"
                type="text"
                placeholder="Title"
                required>

        </div>

        <div class="mb-4">

            <textarea
                id="content"
                class="form-control"
                rows="15"
                placeholder="Tell your story..."
                required></textarea>

        </div>

        <button class="btn btn-success">

            Publish

        </button>

    </form>

    <div
        id="message"
        class="mt-3">
    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="/static/js/create_post.js"></script>

{% endblock %}