{% extends "base.html" %}

{% block content %}

<div class="container py-5">

    {% if current_user %}
    <a href="/feed" class="btn btn-outline-primary">
        ← Back to Home
    </a>
    {% else %}
    <a href="/" class="btn btn-outline-primary">
        ← Back to Home
        
    </a>
    {% endif %}

    <div class="card shadow-lg border-0">

        <img src="{{ post.cover_image_path }}" alt="{{ post.title }}" class="img-fluid rounded">

        <div class="card-body p-5">

            <span class="badge bg-primary mb-3">

                Technology

            </span>

            <h1 class="fw-bold">

                {{ post.title }}

            </h1>

            <div class="d-flex justify-content-between my-4">

                <div>

                    👤 {{ post.author.username }}

                </div>

                <div>

                    📅 {{ post.date_posted.strftime("%d %b %Y") }}

                </div>

            </div>

            <hr>

            <div class="post-content mt-4">

                {{ post.content }}

            </div>

            <div class="mt-5">

                <button class="btn btn-danger">

                    ❤️ Like

                </button>

            </div>

        </div>

    </div>

</div>

{% endblock %}